HTTP_PORT=9096
HTTP_HOST=0.0.0.0
DYNAMO_DB_TABLE=michilante_dev_table
AWS_ACCESS_KEY_ID=[awskey id]
AWS_SECRET_ACCESS_KEY=[aws secret key]
AWS_REGION=mx-east-1


PERMANENT_STREAM_SERVER_URL=http://10.13.13.5:9090
TEMPORARY_STREAM_SERVER_URL=http://dynamic_relay:9090


AUTH0_DOMAIN=domain.auth0.com
AUTH0_AUDIENCE=https://audiencec.auth0.com
AUTH0_ISSUER=https://domain.us.auth0.com/